.DS_Store
Thumbs.db
.vscode/
.idea/
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/pubspec.lock
**/bin/
**/tmp/
**/*.exe
**/*.test
**/*.out
.env
.env.*
!.env.example
*.log
postgres_data/
redis_data/
